<H1>Welcome!</H1>

<div class="container">
    welcome {{name}}. You can Manage your ToDos <a routerLink="/todos">here</a>
</div>

<div class="container">
    Click here to get customized message
    <button (click)="getWelcomeMsg()" class="btn btn-success">Get Welcome msg</button>
</div>
<br>
<div class="container">
    Click here to get customized message
    <button (click)="getWelcomeMsgWithPara()" class="btn btn-success">Get Welcome msg W para</button>
</div>

<div class="container" *ngIf="welcomeMsgFromService">
    <h2>Welcome message</h2>
    {{welcomeMsgFromService}}
</div>